<!DOCTYPE html>
<html land="en" data-bs-theme="dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %} {% endblock %} - App Name</title>

		<!-- Bootstrap CSS -->
		<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

		<style>
			.alert {
				padding: 20px;
				margin: 5px;
				color: #970020;
				background-color: #ffd5de;
			}
		</style>
	</head>

	<body class="bg-dark mt-2" style="background-image: url('/static/images/jet2.jpg'); height: 100%;">
	<!-- Navbar -->
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand ps-5" href="{{ url_for('home') }}">App Name</a>
				<div class="dropdown pe-5">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
						Menu
					</button>
					{% if role == "None" %}
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="{{ url_for('passenger_login_page') }}">Passenger Login</a></li>
							<li><a class="dropdown-item" href="{{ url_for('admin_login_page') }}">Admin Login</a></li>
							<li><a class="dropdown-item" href="{{ url_for('signup_page') }}">Signup</a><li>
						</ul>
					{% elif role == "passenger" %}
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="{{ url_for('passenger_edit_info') }}">Edit Account</a><li>
							<li><a class="dropdown-item" href="{{ url_for('passenger_search_flights') }}">Search Flights</a><li>
							<li><a class="dropdown-item" href="{{ url_for('passenger_view_reservations') }}">View Reservations</a><li>
							<li><a class="dropdown-item" href="{{ url_for('passenger_view_cart') }}">View Cart</a><li>
							<li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a><li>
						</ul>
					{% elif role == "admin" %}
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="{{ url_for('admin_search_passengers') }}">Search Passengers</a><li>
							<li><a class="dropdown-item" href="{{ url_for('admin_manage_flights') }}">Manage Flights</a><li>
							<li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a><li>
						</ul>
					{% else %}
						<ul class="dropdown-menu dropdown-menu-end">
							<li>ELSE HIT</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</nav>
		<!-- Navbar end -->


		<!-- Main content -->
		<div class="container p-5 mt-5 bg-secondary" >
			{% for message in get_flashed_messages() %}
				<div class="alert">{{ message }}</div>
			{% endfor %}
			{% block content %} {% endblock %}
		</div>
		<!-- Main content end -->

		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<!-- script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap/js/popper.min.js"></script> -->
	</body>
</html>

