{% extends 'skeleton.html' %}

{% block title %}View Reservations{% endblock %}

{% block content %}
<h3 class="text-center">Your Reservations</h3>
<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>Flight Number</th>
			<th>International</th>
			<th>Departure Airport</th>
			<th>Arrival Airport</th>
			<th>Departure Date</th>
			<th>Departure Time</th>
			<th>Departure Country</th>
			<th>Arrival Country</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		{% for booking in bookings %}
		<tr>
			<td>{{ booking.flight_no }}</td>
			{% if booking.international == 1 %}
				<td>True</td>
			{% else %}
				<td>False</td>
			{% endif %}
			<td>{{ booking.depart_loc }}</td>
			<td>{{ booking.arrive_loc}}</td>
			<td>{{ booking.depart_date }}</td>
			<td>{{ booking.depart_time }}</td>
			<td>{{ booking.depart_country }}</td>
			<td>{{ booking.arrive_country }}</td>
			<td>
				<form method="post" action="#">
					<input type="hidden" name="flight_number" value="{{ booking.flight_no }}">
					<button type="submit" class="btn btn-primary">Cancel booking</button>
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
