{% extends 'skeleton_wide.html' %}

{% block title %}Manage Flights{% endblock %}

{% block content %}
<h3 class="text-center">Manage Flights</h3>
<table class="table table-dark table-striped">
	<thead>
		<tr>
			<th>Flight Number</th>
			<th>International</th>
			<th>Departure Airport</th>
			<th>Arrival Airport</th>
			<th>Departure Date</th>
			<th>Departure Time</th>
			<th>Departure Country</th>
			<th>Arrival Country</th>
			<th>Edit Flight</th>
		</tr>
	</thead>
	<tbody>
		<form action="#" method="post">
			{% for flight in flights %}
			<tr>
				<td>{{ flight[0] }}</td>
				{% if flight[1] == 1 %}
					<td>True</td>
				{% else %}
					<td>False</td>
				{% endif %}
				<td>{{ flight[2] }}</td>
				<td>{{ flight[3] }}</td>
				<td>{{ flight[4] }}</td>
				<td>{{ flight[5] }}</td>
				<td>{{ flight[6] }}</td>
				<td>{{ flight[7] }}</td>
				<td><a href="{{ url_for('admin_edit_flight', flight_number=flight[0])}}">Edit Flight</a></td>
			</tr>
		{% endfor %}
		</form>
	</tbody>
</table>
<div class="text-center">
	<a class="btn btn-primary" href="{{ url_for('admin_add_flight') }}">Add Flight</a>
</div>
{% endblock %}
